<div class="book-information-container">
  <div class="book-image">
    <img src="assets/anh1.jpg" />
  </div>
  <div class="book-details">
    <h4>Một Thai Hai Bảo: Giám Đốc Hàng Tỉ Yêu Vợ Tận Xương</h4>
    <div class="contents">
      <p>Tác giả: <a href="" style="color: #ff6122"> Hoa Dung Nguyệt</a></p>
      <p>
        Thể loại:<a href="" style="color: #ff6122"> Ngôn Tình, Truyện Sủng</a>
      </p>
      <p>
        Nguồn:<a href="" style="color: #ff6122"> Thích Đọc Truyện, iRead</a>
      </p>
      <p>
        Có hai nhóm quý tộc trong truyện, gia đình của anh là chủ tịch một tập
        đoàn lớn và cô là một cô gái nuôi trong gia đình khác. Cha nuôi của cô
        đang gặp khó khăn trong công việc, do đó cô đã ký hợp đồng sinh con thuê
        cho với giá trị trăm vạn đô la.
        <br />
        Tuy nhiên, cô lại mang thai song thai đến lúc sinh. Một trong hai bé
        không thể sống được và đứa bé còn lại được anh nuôi dưỡng. Cô hoàn thành
        hợp đồng và nhận tiền thù lao rồi biến mất mà không để lại bất cứ dấu
        vết nào.
        <br />
        Sáu năm sau, anh vẫn là chủ tịch tập đoàn và cô lại bị anh coi nhầm là
        một con chim trong chiếc lồng vàng. Anh ép sát cô nhiều lần, nhưng cậu
        bé còn lại không cho phép. Cậu bé tự xưng là ông cụ trẻ đã yêu cô và yêu
        cầu anh tránh xa cô ấy.
        <br />
        Trên thực tế, cậu bé là đứa con song sinh bị anh bỏ rơi và được gia đình
        cô nuôi dưỡng. Cuối cùng, cô và anh đã kết hôn và sống hạnh phúc bên
        nhau.
      </p>
    </div>
  </div>
  <div class="book-another">3</div>  
</div>
<app-book-chapters></app-book-chapters>
